:root {
  --main-color: #ffffff;
  --color-secondary: #e7a800;
  --color-tertiary: #0d0d0d;
  --color-point: #f34213;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.header {
  width: 100%;
  background: var(--main-color);
}

.header__wrap {
  width: 100%;
}

.logo-area {
  width: 94%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: relative;
}

a.logo {
  width: auto;
  cursor: pointer;
  margin: 12px;
}

.nav {
  display: flex;
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: height 0.4s ease-in-out;
  background-color: var(--color-secondary);
  padding: 0 10px;
  justify-content: center;
  position: static;
  z-index: 100;
}

.nav.on {
  height: 50px;
}

.nav p,
.nav a {
  margin: 0px;
  padding: 15px;
  cursor: pointer;
}

.nav p:nth-child(4) {
  border-bottom: none;
}

.nav a {
  display: none;
}

.logo-area .fa-solid {
  padding-top: 20px;
  font-size: 2rem;
  color: var(--color-tertiary);
  cursor: pointer;
}

.logo-area .fa-gratipay {
  padding-top: 20px;
  padding: 0 5px;
  font-size: 2rem;
  color: var(--color-tertiary);
  cursor: pointer;
}

.hero__section {
  background-image: url(../img/background-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 100%;
  background-position: 0 30%;
}

.background__text {
  margin: 0;
  font-size: 2rem;
  font-weight: 600;
  color: var(--color-point);
  width: 90%;
  position: relative;
  top: 200px;
  left: 10px;
}

.background__subText {
  font-size: 1rem;
  font-weight: 400;
  color: var(--main-color);
  width: 70%;
  position: relative;
  top: 205px;
  left: 10px;
  margin: 0;
}

/*SUB_MAIN*/
.sub__main {
  width: 100%;
  background: var();
  margin-top: 40px;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.sub__main .fa-heart {
  font-size: 36px;
  color: red;
}

.sub_wrap {
  width: 80%;
  margin: 0 auto 40px;
  text-align: center;
}

.input-area {
  display: grid;
}

#searchBtn {
  width: 100px;
  margin: 0 auto;
  padding: 8px;
  border-radius: 5px;
  border: 0px solid;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 1rem;
}

#user-input {
  width: 80%;
  margin: 0 auto 16px;
  border-radius: 8px;
  padding: 16px;
  border: 0px solid;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background: var(--main-color);
  font-size: 1.2rem;
  text-align: center;
}

.main-text {
  font-size: 1.5rem;
  margin-bottom: 24px;
}

#chat-box h2 {
  font-weight: 400;
  font-size: 1.5rem;
}

#chat-box p {
  font-size: 1.5rem;
}

.recipe-card__image img {
  width: 100%;
}

.footer {
  background: var(--main-color);
  width: 100%;
}

.footer__wrap {
  width: 90%;
  margin: 0 auto;
}

.footer__wrap .text {
  margin: 0;
  font-size: 2rem;
  font-weight: 600;
  border-bottom: 1px solid var(--color-secondary);
  padding: 20px 0;
  text-align: center;
}

.followBox {
  width: 100%;
  padding-top: 20px;
}

.info p {
  margin: 0;
  font-size: 1rem;
}

.info p:nth-child(1) {
  padding-bottom: 10px;
  font-size: 1.4rem;
}

.info i {
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--color-tertiary);
}

.info p a {
  color: var(--color-tertiary);
}

.info__left,
.info__right {
  width: 50%;
  justify-content: space-between;
  padding-bottom: 30px;
  margin: 0 auto;
  text-align: center;
}

.company__info {
  background-color: var(--color-tertiary);
  color: var(--main-color);
  margin: 0;
  padding: 30px 0px 24px 10px;
  font-size: 1rem;
}

/* favorites-sub main */

#chat-box-favorites {
  padding: 16px;
  padding-bottom: 36px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  width: 100%;
}

.fav {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 320px;
  background: var(--main-color);
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  padding: 16px;
  display: inline-block;
}

.fav p {
  margin: 0px;
  padding: 0;
}

.deleteToggle {
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 32px;
    color: var(--color-tertiary);
    z-index: 10;
    cursor: pointer;
}

/* main content */

.main {
  padding: 60px 24px;
  color: var(--color-tertiary);
}

.section__title {
  font-size: 26px;
  margin: 0px;
  padding: 9px 0;
  text-align: center;
}

.card-section {
  padding: 16px;
  padding-bottom: 36px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.recipe-card {
  display: flex;
  flex-direction: column;
  width: 320px;
  background: var(--main-color);
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.recipe-card:hover , .fav:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.recipe-card-link {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

.recipe-card__image-container {
  width: 100%;
  height: 200px;
  background-size: cover;
  position: relative;
}

.main .fa-heart {
  position: absolute;
  top: 8px;
  right: 8px;
  margin: 5px;
  font-size: 36px;
  color: var(--color-point);
}

.recipe-card__content {
  padding: 1rem;
}

.recipe-card__title {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.recipe-card__text {
  font-size: 0.9rem;
  color: #555;
  line-height: 1.4;
}

.favorite__title {
  font-size: 3.3 rem;
  margin: 0px;
  padding: 60px 0 30px;
  text-align: center;
}

.delete-toggle {
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 32px;
  color: var(--color-tertiary);
  z-index: 10;
  cursor: pointer;
}

.recipe-card__content-fav {
  height: 120px;
  padding: 1rem;
}

.empty {
  text-align: center;
}

@media (min-width: 768px) {
  .nav.on {
    height: 55px;
  }

  .nav p,
  .nav a {
    font-size: 1.3rem;
  }

  .nav a {
    display: block;
    color: var(--color-point);
  }

  .background__text {
    top: 240px;
    font-size: 2.2rem;
  }

  .background__subText {
    top: 250px;
    font-size: 1.2rem;
  }

  .card-section {
    justify-content: start;
  }

  #chat-box-favorites {
    justify-content: start;
  }

  .followBox {
    display: flex;
    text-align: center;
  }

  .main {
    padding: 36px;
  }

  .section__title {
    text-align: left;
  }

  .favorite-container {
    padding: 24px;
  }
}

@media (min-width: 1024px) {
  p.logo {
    margin: 0;
    padding: 10px 0 10px 0;
  }

  p.logo img {
    width: 50%;
    cursor: pointer;
  }

  .logo-area .fa-solid {
    display: none;
  }

  .logo-area .fa-gratipay {
    display: none;
  }

  .header {
    width: 100%;
  }

  .header__wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }

  .logo-area {
    width: auto;
    margin-left: 10px;
  }

  .nav {
    height: auto;
    overflow: visible;
    transition: none;
    display: flex;
    position: static;
    width: 70%;
    background-color: transparent;
    padding: 0;
    justify-content: flex-end;
  }

  .nav p,
  .nav a {
    border-bottom: none;
    font-size: 1.4rem;
    margin-left: 35px;
    padding: 0;
    line-height: 3;
    cursor: pointer;
  }

  .background__text {
    font-size: 2.5rem;
    top: 220px;
  }

  .background__subText {
    font-size: 1.6rem;
    top: 240px;
  }

  .main-text {
    font-size: 1.6rem;
    margin-bottom: 40px;
  }

  #searchBtn {
    font-size: 1.3rem;
  }

  #user-input {
    margin: 0 auto 30px;
  }

  .followBox {
    display: flex;
    text-align: center;
    padding: 50px 0;
  }

  .section__title {
    text-align: left;
  }
}

@media (min-width: 1920px) {
  p.logo {
    padding: 15px;
  }

  p.logo img {
    width: 80%;
  }

  .nav p .nav a {
    font-size: 2rem;
    padding-left: 45px;
    line-height: 3;
  }

  .background__text {
    font-size: 4rem;
    left: 25px;
  }

  .background__subText {
    font-size: 2rem;
    left: 25px;
  }

  .hero__section {
    height: 800px;
  }

  .main-text {
    font-size: 3rem;
    margin-bottom: 32px;
  }

  #searchBtn {
    font-size: 2rem;
    width: 200px;
    padding: 8px;
  }

  .main-text {
    font-size: 3em;
  }

  .footer__wrap .text {
    font-size: 3.3rem;
  }

  .info__left img,
  .info__right img {
    width: 400px;
  }

  .info p:nth-child(1) {
    font-size: 2.5rem;
  }

  .info i {
    font-size: 2.7rem;
    margin-left: 5px;
  }

  .company__info {
    font-size: 1.5rem;
  }

  #user-input {
    font-size: 2rem;
  }
}
